* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-top: 10px;
}

.inner {
  width: 90%;
  height: auto;
  margin: 0 auto;
  position: relative;
}

span {
  display: block;
}

.contentBox {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
  padding: 20px;
}

.post-card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

.post-card:hover {
  transform: translate(0px, -10px);
}

.post-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-content {
  padding: 16px;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.post-sub {
  line-height: 1.2;
  height: 2.4em;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-footer {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.post-user {
  flex-grow: 1;
}
.post-date {
  margin-right: 6px;
}

.heart {
  margin-top: 3px;
  margin-right: 3px;
  width: 12px;
  height: 12px;
}
